<article class="entry_item">
	<header class="entry-header">
		<h4 class="entry-title"><a href="/article/<%= cat %>/<%= id %>">ubuntu 添加 Imagick 支持</a></h4>
		<time class="entry-date" datetime="2012-08-16T00:25:51+00:00" pubdate="pubdate" title="2012 年 8 月 16 日">记录时间: 2012-08-16</time>
	</header>
	<div class="entry-content">
		<p>HTML5是一种设计来组织web内容的语言，其目的是通过创建一种标准的和直观的UI标记语言来把web设计和开发变得容易起来。HTML5提供了各种切割和划分页面的手段，其允许你创建的切割组件不仅能用来逻辑地组织站点，而且能够赋予网站聚合的能力。 HTML5可谓是“信息到网站设计的映射方法”，因为它体现了信息映射的本质，划分信息，并给信息加上标签，使其变得容易使用和理解。这是HTML5富于表现力的语义和实用性美学的基础，HTML5赋予设计者和开发者各种层面的能力来向外发布各式各样的内容，从简单的文本内容到丰富的、交互式的多媒体无不包括在内。</p>
		<p>HTML5提供了高效的数据管理、绘制、视频和音频工具，其促进了web上的和便携式设备的跨浏览器应用的开发。HTML5是驱动移动云计算服务方面的发展的技术之一，因为其允许更大的灵活性，支持开发非常精彩的交互式网站。其还引入了新的标签（tag）和增强性的功能，其中包括了一个优雅的结构、表单的控制、API、多媒体、数据库支持和显著提升的处理速度等。</p>
		<p>HTML5中的新标签都是能高度关联唤起的，标签封装了它们的作用和用法。HTML的过去版本更多的是使用非描述性的标签，然而，HTML5拥有高度描述性的、直观的标签，其提供了丰富的能够立刻让人识别出内容的内容标签。例如，被频繁使用的< div>标签已经有了两个增补进来的< section>和< article>标签。 < video>、< audio>、< canvas>和< figure> 标签的增加也提供了对特定类型内容的更加精确的描述</p>
	</div>
	<div class="entry-meta">
		<span class="entry-tags">分类: ID:</span>
		<span class="entry-author">作者：seanliu</span>
	</div>
</article>
