<section>
	<form class="form-search">
		<div class="well">
		  <input type="text" placeholder="搜索笔记..." class="input-xxlarge search-query">
		  <button type="submit" class="btn">立即搜索</button>
		</div>
	</form>

	<article class="entry_list">
		<header class="entry-header">
			<h4 class="entry-title"><a href="/article/1/2">ubuntu 添加 Imagick 支持</a></h4>
			<time class="entry-date" datetime="2012-08-16T00:25:51+00:00" pubdate="pubdate" title="2012 年 8 月 16 日">2012-08-16</time>
		</header>
		<div class="entry-content">
			网站目录文件权限的设置对网站的安全至关重要，下面简单介绍网站目录文件权限的基本设定。我们假设http服务器运行的用户和用户组是www，网站用户为centos,网站根目录是/home/centos/web。１、我们首先设定网站目录和文件的所有者和所有组为centos,www... 
			<br />
			<a href="/article/1/2">[阅读全文]</a>
		</div>
	</article>

	<article class="entry_list">
		<header class="entry-header">
			<h4 class="entry-title"><a href="/article/1/2">ubuntu 添加 Imagick 支持</a></h4>
			<time class="entry-date" datetime="2012-08-16T00:25:51+00:00" pubdate="pubdate" title="2012 年 8 月 16 日">2012-08-16</time>
		</header>
		<div class="entry-content">
			网站目录文件权限的设置对网站的安全至关重要，下面简单介绍网站目录文件权限的基本设定。我们假设http服务器运行的用户和用户组是www，网站用户为centos,网站根目录是/home/centos/web。１、我们首先设定网站目录和文件的所有者和所有组为centos,www... 
			<br />
			<a href="/article/1/2">[阅读全文]</a>
		</div>
	</article>


	<div class="pagination pagination-right">
	  <ul>
	    <li class="disabled"><a href="#">«</a></li>
	    <li class="active"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">»</a></li>
	 </ul>
	</div>
</section>

<form>
  <fieldset>
    <legend>在当前分类中发表内容</legend>
    <label>标题：
    	<input type="text" id="inputTitle" class="input-block-level" placeholder="">
	</label>
    <label>内容：
    	<textarea id="inputContent"  class="input-block-level" rows="8" placeholder="支持Markdown语法"></textarea>
    </label>
    <button type="submit" class="btn">提交</button>
  </fieldset>
</form>
